:root  > * {
  /* Primary color shades */
  --md-primary-fg-color:        #fe1817;
  --md-primary-fg-color--light: #fe1817;
  --md-primary-fg-color--dark:  #fe1817;

  /* Accent color shades */
  --md-accent-fg-color:                hsla(#{hex2hsl(#fe1817)}, 1);
  --md-accent-fg-color--transparent:   hsla(#{hex2hsl(#fe1817)}, 0.1);
}

/* GitHub High Contrast Light syntax highlighting */
[data-md-color-scheme="default"] {
  --md-code-hl-color:            #0e1116;
  --md-code-hl-keyword-color:    #a0095d;
  --md-code-hl-string-color:     #024c1a;
  --md-code-hl-name-color:       #622cbc;
  --md-code-hl-function-color:   #622cbc;
  --md-code-hl-number-color:     #0349b4;
  --md-code-hl-constant-color:   #702c00;
  --md-code-hl-comment-color:    #66707b;
  --md-code-hl-operator-color:   #a0095d;
  --md-code-hl-punctuation-color:#0e1116;
  --md-code-hl-variable-color:   #702c00;
  --md-code-hl-generic-color:    #622cbc;
}

/* GitHub High Contrast Dark syntax highlighting */
[data-md-color-scheme="slate"] {
  --md-code-hl-color:            #f0f3f6;
  --md-code-hl-keyword-color:    #ff9492;
  --md-code-hl-string-color:     #addcff;
  --md-code-hl-name-color:       #dbb7ff;
  --md-code-hl-function-color:   #dbb7ff;
  --md-code-hl-number-color:     #91cbff;
  --md-code-hl-constant-color:   #ffb757;
  --md-code-hl-comment-color:    #9ea7b3;
  --md-code-hl-operator-color:   #ff9492;
  --md-code-hl-punctuation-color:#f0f3f6;
  --md-code-hl-variable-color:   #ffb757;
  --md-code-hl-generic-color:    #dbb7ff;
}
